<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inteligencia Artificial </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" > Detección de Enfermedades en Plantas de Manzana</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
      </nav>
        <h4> Subir Imagen de la hoja para Predecir su Estado</h4>
      <form action="/predecimiento" method="POST" enctype="multipart/form-data" >
          <input type ="file" name="image" id="file" accept="image/*" onchange="mostrar()" class="btn btn-light">
          <input type="submit" method="POST" class="btn btn-success">

<br>
<img id="img"/>

<script>
  function mostrar(){
  var archivo = document.getElementById("file").files[0];
  var reader = new FileReader();
  if (file) {
    reader.readAsDataURL(archivo );
    reader.onloadend = function () {
      document.getElementById("img").src = reader.result;
    }
  }
}
</script>

    </form>

      <div class="container">
        <form action="/entrena" method="POST" enctype="multipart/form-data">
        <h1>Entrenar Red Neuronal {{ButtonPressed}}</h1>
        <form method="POST">
        <input type="submit" value="Ingresar" class="btn btn-info">
        </form>
        </div>

        <div class="container">
          <form action="/entrena/upload" method="POST" enctype="multipart/form-data">
          <h4>{{Button_entr}}</h4>
          <form method="POST">
          <input type="submit" value="Entrenar"  class="btn btn-info">
          </form>
          </div>

</body>
</html>