<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inteligencia Artificial </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body >
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" > Detección de Enfermedades en Plantas de Manzana</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
      </nav>


      <div class="well">
<div class="thumbnail">
<h4 STYLE="margin-left:25px;"class="text-danger">Oxido de manzana  de Cedro </h4>
<p class="lead" STYLE="margin-left:100px;" >
  a roña del cedro es una infección fúngica causada por la especie<mark> Gymnosporangium juniper-virginianae.</mark>
  El hongo requiere dos plantas hospederas completamente diferentes para completar un ciclo. Infecta 
  manzanas y manzanos en la
   primavera, el daño a las hojas hará que caigan temprano, especialmente en condiciones secas. </p>
</div>
</div>


<h4 STYLE="margin-left:25px;" class="text-success">Tratamiento  </h4>
<p class="lead" STYLE="margin-left:100px;" >
  Aplicar Score con Carbendacil, se aplica de la siguiente forma:
  Score: 15cm por bomba de 20 litros
  Carbendacil: 50 cm por bomba de 20 litros. </p>
  <div>
 
</html>